<link rel="stylesheet" href="/css/users.css" />
<form action="/users/signout" method="Post">
  <input type="submit" value="Sign out" />
</form>
<h1><%=title%></h1>
<p>Name:<%=user.name%> Email: <%=user.email%></p>
